.table table,
.table th,
.table td {
  border: 2px solid rgb(228, 227, 227);
  border-collapse: collapse;
  height: 40px;
}
.title {
  text-align: center;
  margin: 20px;
}

.table {
  display: flex;
  justify-content: center;
  text-align: center;
}
.table tr th:nth-child(1) {
  width: 40px;
}
.table tr th:nth-child(2) {
  width: 200px;
}
.table tr th:nth-child(3) {
  width: 120px;
}
.table tr th:nth-child(4) {
  width: 250px;
}
.table tr th:nth-child(5) {
  width: 100px;
}
.table tr th:nth-child(6) {
  width: 170px;
}
.table tr th:nth-child(7) {
  width: 100px;
}
.table tbody tr:nth-child(odd) {
  background-color: #f1f3f5;
}
.table thead tr {
  background-color: #74c0fc;
  color: #fff;
}
.table tr td {
  text-align: start;
  padding-left: 5px;
}
.Booked {
  background-color: #ffa8a8;
  padding: 5px;
  display: inline;
  border-radius: 5px;
  color: #081421;
}
.Checkin {
  background-color: #b2f2bb;
  padding: 5px;
  display: inline;
  border-radius: 5px;
  color: #081421;
}

.Checkout {
  background-color: #bac8ff;
  padding: 5px;
  display: inline;
  border-radius: 5px;
  color: #081421;
}
